
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #b4b4b4;
    color: #333;
    border-top: #222 50px solid;
    border-right: #222 50px solid;
    border-left: #222 50px solid;
}
header {
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}
img {
    width: 50%;
    height: auto;
}
h1 {
    font-size: 72px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000b3d;
}
h2 {
    font-size: 50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #000b3d;}
header {
    margin: 0;
    font-size: 2 rem;
    text-shadow: 0 0 10x rgba(0,0,0,0.0);
}
section {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
    background: #fff;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    color: #000b3d;
    margin-top: 0;
}
h3 {
    color: #000b3d;
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
    background: #e8e8e8;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
}
a {
    color: #1e90ff;
    text-decoration: none;
}
p {
    background: #e8e8e8;
    margin: 0rem 0;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
footer p {
    background: #222;
    margin: 0 0;
    padding: 0  0 ;
    border-radius: 0;
}